* {
    /* applies styling to the whole page */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* applies background color to the body of the page */
    background-color: #d9dcd6;
}

.header {
    /* sets the font, font color, background color, and padding for the header */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    /* sets specific display and font size for the H1 header */
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    /* sets the color for the header h1 seo */
    color: #d9dcd6;
}

.header div {
    /* formatting for div in header*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    /* formatting for div UL in header */
    list-style-type: none;
}

.header div ul li {
    /* formatting for li in  */
    display: inline-block;
    margin-left: 25px;
}

a {
    /* formatting for attributes */
    color: #ffffff;
    text-decoration: none;
}

p {
    /* formatting for paragraphs */
    font-size: 16px;
}

.hero {
    /* formatting for main image on page */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    /* formatting text with image on left  */
    float: left;
    margin-right: 25px;
} 

.float-right {
    /* formatting text with image on right */
    float: right;
    margin-left: 25px;
}

.content {
    /* main content formatting */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content section {
    /* main content section styling */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    /* main content image styling */
    max-height: 200px;
}

.content h2 {
    /* main content h2 styling */
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    /* benefit section formatting */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-section {
    /* styling for benefit section */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-section h3 {
    /* styling for h3 header in benefit section */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-section img {
    /* styling for benefit section images */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    /* styling for footer */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    /* styling for footer header */
    font-size: 20px;
}
